
{extend name="admin@public/content"}

{block name="content"}
<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='form-horizontal layui-form padding-top-20'>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            标题
        </label>
        <div class="col-sm-8">
            <input name="title" required="required" title="请输入标题" placeholder="请输入标题" value='{$vo.title|default=""}' class="layui-input">
        </div>
    </div>
    <div class="hr-line-dashed"></div><div class="form-group">
        <label class="col-sm-2 control-label">
            金额
        </label>
        <div class="col-sm-8">
            <input name="money" required="required" onblur="this.value=(parseFloat(this.value)||0).toFixed(2)"  title="请输入金额" placeholder="请输入金额" value='{$vo.money|default=""}' class="layui-input">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
           状态
        </label>
        <div class="col-sm-8">
            <label class="think-radio">
                <input type="radio" name="status" value="1" {if !isset($vo['status'])}checked{/if} {if isset($vo['status']) and $vo['status'] eq 1}checked{/if} lay-ignore="">
                       启用
            </label>
            <label class="think-radio">
                <input type="radio" name="status" value="0" {if isset($vo['status']) and $vo['status'] eq 0}checked{/if} lay-ignore="">
                       禁用
            </label>
        </div>
    </div>
    <div class="hr-line-dashed"></div><div class="form-group">
        <label class="col-sm-2 control-label">
            排序
        </label>
        <div class="col-sm-8">
            <input name="sort" required="required" title="请输入排序" placeholder="请输入排序" value='{$vo.sort|default="0"}' class="layui-input">
            <p class="help-block">排序（越大越前）</p>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="col-sm-4 col-sm-offset-2">
        <div class="layui-form-item text-center">
            {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
            <button class="layui-btn" type="submit">保存</button>
            <button class="layui-btn layui-btn-danger" type='button' data-back>返回</button>
        </div>
    </div>

</form>
{/block}