{extend name='admin@public/content'}

{block name="button"}

{/block}

{/block}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-inline">
            <input name="mobile" value="{$Think.get.mobile|default=''}" placeholder="请输入手机" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户呢称</label>
        <div class="layui-input-inline">
            <input name="uname" value="{$Think.get.uname|default=''}" placeholder="请输入用户呢称" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select name="status" class="layui-select" lay-search="">
                <option value=""> - 请选择 -</option>
                <option value="0" {if $Think.get.status eq '0'} selected {/if} > 未激活</option>
                <option value="1" {if $Think.get.status eq '1'} selected {/if} > 正常</option>
                <option value="2" {if $Think.get.status eq '2'} selected {/if} > 禁用</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">加入时间</label>
        <div class="layui-input-inline">
            <input id="createtime" name="createtime" value="{$Think.get.createtime|default=''}" placeholder="请选择时间段" class="layui-input">
             <script>window.laydate.render({range: true, elem: "#createtime"});</script>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>    
</form>
<script>
    window.form.render();
</script>


<form onsubmit="return false;" data-auto="true" method="post">
    <!--{if empty($list)}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
            <tr>
                <th class='list-table-check-td'>
                    <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
                </th>
                <th class='text-left'>id</th>
                <th class='text-left'>呢称</th>
                <th class='text-left'>手机</th>
                <th class='text-left'>状态</th>
                <th class='text-left'>加入时间</th>
                <th class='text-center'>操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td'>
                    <input class="list-check-box" value='{$vo.id}' type='checkbox'>
                </td>

                <td class='text-left'>{$vo.id}</td>
                <td class='text-left'>{$vo.open_nickname}</td>
                <td class='text-left'>{$vo.mobile}</td>
                <td class='text-center'>
                    {if $vo.status eq 0}<span>未激活</span>
                    {elseif $vo.status eq 1}<span class="color-green">使用中</span>
                    {elseif $vo.status eq 2}<span class="color-red">禁用</span>
                    
                    {/if}
                </td>
                
                <td class='text-left'>{$vo.createtime|format_datetime|default="<span class='color-desc'>--</span>"|raw}</td>
                <td class='text-center nowrap'>


                    {if $vo.status eq 1 and auth("$classuri/forbid")}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='status' data-value='2' data-action='{:url("$classuri/forbid")}'>禁用</a>
                    {elseif auth("$classuri/resume")}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/resume")}'>启用</a>
                    {/if}

                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/if}-->
</form>
{/block}