
{extend name="admin@public/content"}

{block name="content"}
<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='form-horizontal layui-form padding-top-20'>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            标题
        </label>
        <div class="col-sm-8">
            <input name="title" required="required" title="请输入标题" placeholder="请输入标题" value='{$vo.title|default=""}' class="layui-input">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            目标链接地址
        </label>
        <div class="col-sm-8">
            <input name="link" required="required" title="请输入最终跳转到的链接地址" placeholder="请输入最终跳转到的链接地址" value='{$vo.link|default=""}' class="layui-input">
        </div>
    </div>
    <div class="hr-line-dashed"></div><div class="form-group">
        <label class="col-sm-2 control-label">
            描述
        </label>
        <div class="col-sm-8">
            <input name="desc" required="required" title="请输入描述" placeholder="请输入描述" value='{$vo.desc|default=""}' class="layui-input">
        </div>
    </div>
    <div class="hr-line-dashed"></div>     <div class="form-group">
        <label class="col-sm-2 control-label">
            图片
        </label>
        <div class="col-sm-8">
            <img data-tips-image style="height:auto;max-height:32px;min-width:32px" src='{$vo.img_url|default=""}'/>
            <input type="hidden" name="img_url" onchange="$(this).prev('img').attr('src', this.value)" value='{$vo.img_url|default="/theme/default/img/image.png"}' class="layui-input">
            <a class="btn btn-link" data-file="one" data-uptype="{:sysconf('storage_type')}" data-type="ico,png" data-field="img_url">上传图片</a>
            <!--<p class="help-block">建议尺寸为</p>-->
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="col-sm-4 col-sm-offset-2">
        <div class="layui-form-item text-center">
            {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
            <button class="layui-btn" type="submit">保存</button>
            <button class="layui-btn layui-btn-danger" type='button' data-back>返回</button>
        </div>
    </div>

</form>
{/block}