
{extend name="admin@public/content"}

{block name="content"}
<form onsubmit="return false;" data-callback='_optCallBack' data-auto action="{:request()->url()}" class='form-horizontal' style='padding-top:20px'>

    <div class="form-group">
        <label class="col-sm-2 control-label">命名空间</label>
        <div class='col-sm-8'>
            <input required maxlength="20" placeholder="例如:Admin" title="请输入命名空间" invalid_msg="命名空间" name="namespace" value='Admin' type="text" class="form-control input-sm">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">控制器名称</label>
        <div class='col-sm-8'>
            <input required maxlength="20" placeholder="例如:Test" title="请输入控制器名称" invalid_msg="控制器名称" name="contorller_name" value='' type="text" class="form-control input-sm">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">控制器继承父类</label>
        <div class='col-sm-8'>
            <input required maxlength="90" placeholder="\xx\xx\xxController" title="请输入控制器继承父类" invalid_msg="控制器继承父类" name="contorller_parent" value='\controller\BasicAdmin' type="text" class="form-control input-sm">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">对应表</label>
        <div class='col-sm-8'>
            <select name="table" class="form-control input-sm">
                <option value="">请选择表</option>
                <!--{foreach $aTabelList as $key=>$vo}-->
                <option value="{$vo}">{$vo}</option>
                <!--{/foreach}-->
            </select>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group J-selectInfo" style="display: none;">
        <div class="col-xs-3">
            <div class="control-group">
                <label  class="control-label no-padding-right">是否有排序字段(sort)</label>
                <label class="pos-rel">
                    <input type="checkbox" checked class="ace " name="is_sort" value="1">
                    <span class="lbl"></span>
                </label>
                <br>
                <label  class="control-label no-padding-right">是否有状态字段(status)</label>
                <label class="pos-rel">
                    <input type="checkbox" checked class="ace" name="is_status" value="1">
                    <span class="lbl"></span>
                </label>
                <br>
                <label  class="control-label no-padding-right">是否要编辑</label>
                <label class="pos-rel">
                    <input type="checkbox" checked class="ace" name="is_editor" value="1">
                    <span class="lbl"></span>
                </label>
                <br>
                <label  class="control-label no-padding-right">是否要添加</label>
                <label class="pos-rel">
                    <input type="checkbox" checked class="ace" name="is_add" value="1">
                    <span class="lbl"></span>
                </label>
                <br>
                <label  class="control-label no-padding-right" value="1">是否要删除</label>
                <label class="pos-rel">
                    <input type="checkbox" checked class="ace" name="is_deleted" value="1">
                    <span class="lbl"></span>
                </label>
                <br>
                <label style="color: red">关联字段生效必须要在添加编辑中出现必须勾上下拉</label>
            </div>
        </div>
        
        <div class="col-xs-9 col-sm-5">
            <div class="control-group">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="simple-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                         <th>字段</th>                                         
                                        <th>是否列表显示</th>
                                        <th>检索字段</th>
                                        <th>是否表单字段</th>
                                        <th class="center">
                                            是否编辑器
                                        </th>
                                        <th class="center">
                                            是否日期
                                        </th>
                                        <th class="center">
                                            是否图片
                                        </th>
                                        <th>是否下拉</th>
                                        <th>关联其他表</th>
                                        <th>数据显示名称</th>
                                    </tr>
                                </thead>

                                <tbody class="J-showSelectItemList">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>                
    <div class="hr-line-dashed"></div>

    <div class="form-group">
        <div class='row'>
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary navbar-btn">提交</button>
                <button data-back type="button" class="btn btn-warning navbar-btn">&nbsp&nbsp&nbsp返&nbsp回&nbsp&nbsp&nbsp</button>
            </div>
        </div>
    </div>

</form>
<script>
    function _buildSelectOption(aDataLists){
        var aDataList = aDataLists;
        var html = '';
        for (var item in aDataList) {
            var field = aDataList[item].Field;
            var alias = aDataList[item].Comment == '' ? field : aDataList[item].Comment;
            html += '<tr>\
                        <td>\
                            '+ field +'\
                        </td>\
                        <td class="center">\
                            <label class="pos-rel">\
                                <input type="checkbox" class="ace " value="'+ field +'" name= list['+ field +']>\
                                <span class="lbl"></span>\
                            </label>\
                        </td>\
                        <td class="center">\
                            <label class="pos-rel">\
                                <input type="checkbox" class="ace " value="'+ field +'" name= search['+ field +']>\
                                <span class="lbl"></span>\
                            </label>\
                        </td>\
                        <td class="center">\
                            <label class="pos-rel">\
                                <input type="checkbox" class="ace " value="'+ field +'" name= input['+ field +']>\
                                <span class="lbl"></span>\
                            </label>\
                        </td>\
                        <td class="center">\
                            <label class="pos-rel">\
                                <input type="checkbox" class="ace J-cbox" value="'+ field +'" name= ed['+ field +']>\
                                <span class="lbl"></span>\
                            </label>\
                        </td>\
                        <td class="center">\
                            <label class="pos-rel">\
                                <input type="checkbox" class="ace  J-cbox" value="'+ field +'" name= date['+ field +']>\
                                <span class="lbl"></span>\
                            </label>\
                        </td>\
                        <td class="center">\
                            <label class="pos-rel">\
                                <input type="checkbox" class="ace  J-cbox" value="'+ field +'" name= image['+ field +']>\
                                <span class="lbl"></span>\
                            </label>\
                        </td>\
                        <td class="center">\
                            <label class="pos-rel">\
                                <input type="checkbox" class="ace  J-cbox" value="'+ field +'" name= select['+ field +']>\
                                <span class="lbl"></span>\
                            </label>\
                        </td>\
                        <td class="center">\
                            <label class="pos-rel">\
                                <input type="checkbox" class="ace  J-relation" value="'+ field +'" name= relation['+ field +']>\
                                <div class="J-showRelation" style="display:none;"><select class="J-relationTabel" name="relation_table_'+ field +'"><option value="">请选择要关联的表</option>\
                {foreach $aTabelList as $key=>$vo}\
                <option value="{$vo}">{$vo}</option>\
                {/foreach}<select>\
                                <select class="J-relationField" name="relation_field_'+ field +'"><option value="">请选择关联字段</option></select>\
                                <select class="J-relationField" name="relation_field_show_'+ field +'"><option value="">请选择显示字段</option></select>\
                                </div><span class="lbl"></span>\
                            </label>\
                        </td>\
                        <td><input type="text" class="ace  J-cbox" value="'+ alias +'" name= alias['+ field +']></td>\
                    </tr>';
            }
            return html;
    }
    _optCallBack = function (ret, res) {
        if (ret.status == 1) {
            $.msg.alert(ret.data);
            return false;
        }
        return true;
    };
    $(function () {
        $('body').on('change','.J-relation',function(){
            var $this = $(this);
            var p = $this.closest('.pos-rel').find('.J-showRelation');
            p.toggle();
            if(!$this[0].checked){
                p.find('.J-relationTabel').val('');
                p.find('.J-relationField').val('');
            }
        });
        $('body').on('change','.J-relationTabel',function(){
            var $this = $(this);
            var $fielddiv = $this.closest('.pos-rel').find('.J-relationField');
            $.ajax({
                    data:{table_name:$(this).val()},
                    url:'{:url("create_code/field")}',
                    success:function(aData){
                        var data = aData.data;
                        var aHtml = [];
                        for(var i in data){
                            aHtml.push('<option value="'+ data[i].Field +'">'+ data[i].Field +'</option>');                            
                        }
                        $fielddiv.empty().append(aHtml.join(''));
                    }
                });
        });
        
        $('select[name="table"]').change(function(){
                $.ajax({
                    data:{table_name:$(this).val()},
                    url:'{:url("create_code/field")}',
                    success:function(aData){
                        $('.J-selectInfo').show();
                        var $dom = $(_buildSelectOption(aData.data));
                        $('.J-showSelectItemList').empty().append($dom);
                        $dom.find('.J-cbox').each(function(){
                            $(this).change(function(){
                                if($(this).prop("checked")){
                                    var ll = $(this).closest('tr').find('.J-cbox:checked').length;
                                    if(ll > 1){
                                        $(this).attr("checked",false);
                                        return $.msg.error('不能选择两个属性');
                                    }
                                }
                            });
                        });
                    }
                });
        });
    })
</script>


{/block}